
/* Default Styles */
.background {
  width: 100%;
  height: 645px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/assets/img/slide3.webp");
}
.about {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  padding: 20% 0;
  font-family: "NovemberPro" !important;
}
.achieving {
  background-image: url("../../public/assets/img/bg-shape1-home5.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 3% 0;
}
.container {
  width: 100%;
  margin: 50px auto 0;
  display: flex;
  min-width: 80%;
  padding: 0 10%;
  gap: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titledata {
  max-width: 1300px;
  width: 50%;
  flex: 0 0 auto;
  height: 100%;
}
.mainhead {
  color: #181836;
  margin-bottom: 10px;
  font-family: "NovemberPro" !important;
  font-weight: bold;
}
.maindes {
  font-weight: bold;
  color: #333333;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: "NovemberPro-Reg" !important;
}
.maindess {
  line-height: 1.5;
  color: #333333;
  font-family: "NovemberPro-Reg" !important;
}
/* who we  */
.whowe {
  background-image: url("../../public//assets/img//home-bg-10-1.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #ececec;
  padding: 60px 0px 40px 0px;
}
.whoContainer {
  width: 100%;
  text-align: center;
  padding: 3% 7% 3% 7%;
  display: flex;
  gap: 50px;
}
.whoweLeft {
  text-align: left;
}
.whoweRight {
  text-align: left;
}
.whoweHeading {
  font-weight: bold;
  font-family: "NovemberPro" !important;
  line-height: 1.2;
  color: #181836;
  padding-bottom: 12px;
}
.subheading {
  font-family: "NovemberPro-Reg" !important;
  color: #333333;
  line-height: 1.5;
}
/* Core Values Css  */
.coreMain {
  background-color: #333;
  background-position: center right;
}
.coreContainer {
  width: 100%;
  color: #ececec;
  padding: 0 16% 6% 16%;
  display: flex;
  flex-direction: column;
}
.our {
  color: #650909;
  line-height: 1.2;
  font-weight: bold;
  font-family: "NovemberPro" !important;
}
.ourcoreTitle {
  color: #ffffff;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  font-family: "NovemberPro" !important;
  padding-bottom: 0.4rem;
}
.ourcoreDescription {
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
  font-family: "NovemberPro-Reg" !important;
  padding-bottom: 0.4rem;
}
.coresubcont1 {
  padding-bottom: 20px;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}
.coreBox {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 22px 27px 0px 27px;
  margin: 0 0 20px 0;
  text-align: center;
}
.coreBoxTitle {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-family: "NovemberPro" !important;
}
.coreBoxDesc {
  line-height: 1.5;
  font-family: "NovemberPro-Reg" !important;
  color: #ffffff;
  padding-bottom: 20px;
}
.capabilities {
  padding-top: 20px;
  font-weight: bold;
  line-height: 1.2;
  font-family: "NovemberPro"!important;
  padding-bottom: 40px;
}
.coresubcont {
  text-align: center;
}
.coreBox1 {
  box-shadow: 1px #ffffff;
  border-radius: 10px;
  color: #181836;
  background-color: #ffffff;
  padding: 24px 24px 24px 24px;
}
.coreBox1Value {
  font-weight: bold;
  line-height: 1.2;
  font-family: "NovemberPro" !important;
  padding-bottom: 10px;
}
.coreBox1Desc {
  line-height: 1.5;
  font-family: "NovemberPro-Reg" !important;
}
/* Our Usps */
.coreQuote {
  padding: 25px 0 35px 0;
}
.OurUsp {
  color: #650909;
  font-family: "NovemberPro" !important;
  font-weight: bold;
  line-height: 1.2;
}
.coreTitleUsp {
  color: #181836;
  font-family: "NovemberPro" !important;
  margin-bottom: 0.5rem;
}
.coreDescriptionUsp {
  color: #333333;
  line-height: 1.5;
  font-family: "NovemberPro-Reg" !important;
  padding: 0% 1%;
}
.uspContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1% 7% 7% 7%;
}
.uspBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 3% 3%;
}
.uspBox:hover {
  border-color: #ebebeb;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  background-color: #ffffff;
}
.uspBoxTitle {
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-family: "NovemberPro" !important;
}
.uspBoxDesc {
  color: #333333;
  line-height: 1.5;
  font-family: "NovemberPro-Reg" !important;
}
/* Vissson and misson  */
.visionMissonContainer {
  width: 100%;
  text-align: center;
  padding: 20px 20px 40px 20px;
  display: flex;
  gap: 60px;
  justify-content: center;
  text-align: center;
}
.visionLeft {
  text-align: left;
}
.visionleftTitle {
  padding-bottom: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: #181836;
  font-family: "NovemberPro" !important;
}
.visionLeftSubTitle {
  font-weight: bold;
  font-family: "NovemberPro-Reg" !important;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 2px;
}
.visionDesc {
  color: #333333;
  line-height: 1.5;
  font-family:"NovemberPro-Reg" !important;
  padding-bottom: 40px;
}
.visionRight {
  display: flex;
  align-items: center;
}
/* Start working with InfoKoders technologies */
.startWorking {
  padding: 5% 7% 5% 7%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.startWorkingSpan {
  color: #650909;
}
.startWorkingTitle {
  padding: 0 0 15px 0;
  font-family: "NovemberPro" !important;
  font-weight: bold;
  line-height: 1.2;
  color: #181836;
}
.startWorkingDesc {
  margin-bottom: 1rem;
  font-family: "NovemberPro-Reg" !important;
}
/* Responsive Styles */
@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
    flex-direction: column;
    row-gap: 50px;
  }
  .whoContainer {
    flex-direction: column;
  }
  .titledata {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .mainhead {
    margin-bottom: 5px;
  }
  .container {
    row-gap: 40px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container {
    row-gap: 40px;
  }
}
@media (max-width: 600px) {
  .coreBoxTitle {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .capabilities {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .visionleftTitle {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .startWorking {
    padding: 15% 7% 15% 7%;
  }
}
