.backgroundCareer {
    position: relative;
    width: 100%;
    height: 690px;
    background-repeat: no-repeat;
    background-position:  right ;
    background-size: cover;
    background-image: url("../../public/assets/img/careers.png");
  }
  
  .backgroundCareer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  }
  .imageTitle {
    color: #fff;
    font-family: "NovemberPro";
    padding-top: 250px;
    padding-bottom: 20px;
    padding-left: 9%;
    opacity: 0.9;
  }