

.logo {
  width: 220px;
  height: 30px;
}

@media (max-width: 900px) {
  .logo {
    width: 180px;
    height: 22px;
  }
}

@media (max-width: 975px) {
  .footerMain {
    padding-left: 0px !important;
  }
}
.subHead {
  font-size: 20px !important;
  margin-bottom: 10px;
  color: #899394;
  font-family: "serif";
  margin-left: 10px;
  font-family: "NovemberPro" !important;
}

.ui {
  list-style-type: none;
  padding: 0;
  line-height: 1.8;
  margin-left: 10px;
  font-family: "NovemberPro-Reg";
}

.ui li {
  margin: 5px 0;
  color: #fff;
  font-size: 14px;
  font-family: "NovemberPro-Reg";
}
.ui ul {
  color: #fff;
}

.ui a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.ui a:hover {
  color: #899394;
}

.signincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputcustomfooter {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
}

.footersigninbtn {
  color: #fff;
  border: 1px solid #323643;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 19px;
  cursor: pointer;
}
.sendIcon {
  position: absolute;
  right: 10px; /* Adjust this to control how far from the right edge */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the icon from interfering with input */
}
