@tailwind base;
@tailwind components;
@tailwind utilities;
/* Theme Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Custom Fonts */
@font-face {
  font-family: "NovemberPro";
  src: url("../fonts/novemberPro/NovemberPro.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NovemberPro-Reg";
  src: url("../fonts/novemberPro/NovemberPro-Reg.ttf");
  font-weight: normal;
  font-style: normal;
}